<section id="dogs">
  <h1>Dogs</h1>
  <article id="dog-meds">
    <h2>Dog Meds</h2>
    <div id="dog-meds-status">True / False</div>
    <div id="link">
      <h3>Link</h3>
      <p>AM</p>
      <ul>
        <li>None</li>
      </ul>
      <p>PM</p>
      <ul>
        <li>Benadryl</li>
        <li>Joint Suplement</li>
      </ul>
    </div>
    <div id="eva">
      <h3>Eva</h3>
      <p>AM</p>
      <ul>
        <li>Prozac</li>
      </ul>
      <p>PM</p>
      <ul>
        <li>Prozac</li>
        <li>Benadryl</li>
        <li>Joint Suplement</li>
      </ul>
    </div>
  </article>
</section>